---
title: 'Reset your password'
preheader: 'Please proceed to reset your password'
bodyClass: bg-[#484444]
---

<x-main class="bg-[#484444]">
  <div class="bg-[#484444] sm:px-4 font-sans">
    <table align="center">
      <tr>
        <td class="w-[552px] max-w-full">
          <div class="my-12 sm:my-8 text-center">
            <a href="">
              <img src="@{{logo}}" width="120" alt="@{{app}}" />
            </a>
          </div>

          <table class="w-full">
            <tr>
              <td
                class="p-12 sm:px-6 text-base text-white bg-black rounded shadow-sm"
              >
                <h1
                  class="m-0 mb-6 text-2xl sm:leading-8 text-white font-semibold"
                >
                  Hi @{{name}},
                </h1>

                <p class="m-0 leading-6">
                  We got a request to reset your account's password
                  <br />
                  <br />
                  Please proceed by clicking the button below:
                </p>

                <x-spacer height="24px" />

                <x-button href="@{{url}}"> Reset password &rarr; </x-button>

                <x-divider space-y="32px" class="bg-slate-200" />

                <p class="m-0">
                  If you didn't trigger this, you can safely ignore this email.
                  <br />
                  <br />
                  Thanks, <br />Team @{{app}}
                </p>
              </td>
            </tr>
            <tr role="separator">
              <td class="leading-12">&zwj;</td>
            </tr>
            <tr>
              <td class="text-center text-white text-xs px-6">
                <p class="m-0 mb-4 uppercase">@{{app}} &copy; @{{year}}</p>

                <p class="cursor-default">
                  <a
                    href="https://instagram.com/"
                    class="text-[#ecb2ff] [text-decoration:none] hover:![text-decoration:underline]"
                    >Instagram</a
                  >
                  &bull;
                  <a
                    href="https://facebook.com"
                    class="text-[#ecb2ff] [text-decoration:none] hover:![text-decoration:underline]"
                    >Facebook</a
                  >
                  &bull;
                  <a
                    href="https://twitter.com"
                    class="text-[#ecb2ff] [text-decoration:none] hover:![text-decoration:underline]"
                    >Twitter</a
                  >
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
